@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-size: 11px
}

:root{
    --cor01: #3e52a3;
    --cor02: #6448fe;
    --cor03: #600594;
    --cor04: #ff5252;
}
body, html{
    display: flex;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
}
main{

    border: 1px solid black;

    width: 375px;
    height: 703px;
}
.purple_box{
    background-image: url(../images/bg-main-mobile.png); 
    width: 375px;
    height: 240px;
}
.back_card{
    background-image: url(../images/bg-card-back.png);
    background-size:cover;
    border-radius: 10px;
    width: 285px;
    height: 158px;

    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-40%);
}
.bck1{
    position: absolute ;
    top: 70px;
    left: 82%;
    width: 25px;
    height: 15px;
    color: white;
}
.front_card{
    background-image: url(../images/bg-card-front.png);
    background-size:cover;
    border-radius: 10px;
    width: 285px;
    height: 158px;

    position: relative;
    top: 120px;
    left: 16px;
    
}
.white_circle{
    position: relative ;
    width: 30px;
    height: 30px;
    border-radius: 100% ;
    background-color: white;
    top: 18px;
    left: 20px;
}
.small_circle{
    position: relative ;
    width: 12px;
    height: 12px;
    border-radius: 100% ;
    border: 2px solid white;
    top: -3px;
    left: 60px;
}
.card_number{
    display: flex;
    position: relative ;
    width: 235px;
    height: 22px;
    left: 25px;
    top: 40px;

    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}
.spc1{
    text-align: justify;
    font-size: 20px;
    color: white;
}
.spc2{
    text-align: justify;
    font-size: 20px;
    color: white;
}
.spc3{
    text-align: justify;
    font-size: 20px;
    color: white;
}
.spc4{
    text-align: justify;
    font-size: 20px;
    color: white;
}
.card_name{
    position: relative ;
    width: 200px;
    height: 10px;
    left: 25px;
    top: 60px;
    color: WHITE;    
}
.exp{
    position: relative ;
    width: 32px;
    height: 10px;
    left: 225px;
    top: 50px;
    color: white;
}

form{
    position: relative;
    margin: 90px 20px 40px 20px;
}
::placeholder{
    color: #bcb9b9c1;
    font-family: 'Space Grotesk', sans-serif;
}
span{
    display: block;

    padding-left: 10px;   
    color: var(--cor04);
    margin-top: -20px;
}
.div_error{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
input{
    cursor: pointer;
}
label{
    font-size: 13px;
    color: #3e3643;
    text-shadow: .5px .5px 1px #ee82ee69;
    letter-spacing: 0.1em;
    font-weight: bolder;
    margin-right: 17px;
    
}
#iholder_name, #icard_number{
    width: calc(100% - 20px);
    
    border: 1px solid #d5d2d2c7;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 10px;

    margin: 10px 0 20px 0;
}

#imm_exp, #iyy_exp{
    width: 60px;
    border: 1px solid #d5d2d2c7;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    margin-right: 7px;
    margin: 10px 7px 20px 0;
}
#icvc{
    width: 165px;
    border: 1px solid #d5d2d2c7;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 0 15px 10px;
    margin-right: 7px;
    margin: 10px 0px 20px 15px;
}
#iconfirm{
    font-size: 18px;
    padding: 15px 0px;
    width: 100%;
    border-radius: 10px;
    background-color: #220930;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

aside{
    display: none;

    background-color: white;
    position: absolute;
    top: 300px;
    width: 337px;
    height: 380px;
    margin: 20px;
    text-align: center;
}
.circle_check{
    display: flex;
    background-image: linear-gradient(var(--cor02), var(--cor03));
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 27px;
    letter-spacing: .2em;
    font-weight: 600;
    color: #3d1256;
}
p{
    text-align: center;
    margin-top: 18px;
    color: #949393;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
button{
    margin-top: 50px;
    font-size: 18px;
    padding: 14px 0px;
    
    width: 280px;
    border-radius: 10px;
    background-color: #220930;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}




.error_msg{
    color: #ff5252;
}